fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-dotenv
google-genai
python-multipart
groq
pdfplumber
python-docx
langchain
langchain-groq
langchain-google-genai
langgraph
asyncpg